<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>

<body>

    <form th:method="post" th:action="'/rsa'" enctype="multipart/form-data">
        <input type="file" th:name="file" >
        <p>Введите p</p>
        <input type="text" th:name="p">
        <p>Введите q</p>
        <input type="text" th:name="q">
        <p>Введите e</p>
        <input type="text" th:name="openExp">
        <input type="submit">
    </form>
</body>
</html>